@font-face {
    font-family: "chunkfive";
    src: url('chunkfive.woff2');
    src: local('chunkfive.woff2');
    src: url('chunkfive.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noticia+Text&family=PT+Serif&family=Roboto&family=Yeseva+One&display=swap');

section {
    min-height: 100vh;
    position: relative;
    z-index: 10;
}
.paragraph {
    padding: 32px 0;
}

.ball{
    min-height: auto;
}
.banner {
    height: 100vh !important;
    width: 100%;
    position: relative;
    &__title {
        position: absolute;
        bottom: 5%;
        right: 0;
        font-size: 4rem;
        color: #c9c9c9;
        text-shadow: 2px 2px black;
        width: 50%;
        text-align: right;
       
        @media screen and (min-width:1440px) {
            transform: translate(-5%, -50%);
            font-size: 4.5rem;    
            bottom: 0;
            width: 40%;
        }
        @media screen and (max-width:766px) {
            position: absolute;
            bottom: 5%;
            right: 8px;
            font-size: 3.5rem;
            color: #c9c9c9;
            text-shadow: 2px 2px #000;
            width: auto;
            text-align: right;
        }
        
    }
    &__image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
main {
    p,li,div{
        font-family: 'Montserrat';
    }
}

.font-heading {
    font-family: 'chunkfive';
}

.paragraph {
    .wrap-detik {
        position: relative;
        // height: 80vh;
        padding: 16px;
        z-index: 5;
        // background: rgba($color: #fff, $alpha: .7);
        // backdrop-filter: blur(8px);
        .image {
            width: 100%;
            height: 100%;
            img {
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.topx {
    position: relative;
    z-index: 30;
    .click-bola {
        // margin: initial;
    }
}

.helpingx{
    position: absolute;
    left: 0;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    img {
        width: 150%;
        margin: 0 auto;
        height: 100%;
        object-fit: contain;
    }
}

.fans {
    .image {
        position: relative;
        z-index: 3;
        width: 100vw;
        height: 520px;
        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }

    }
}

.content {
    display: none;
    .wrap-detik {
        width: 960px;
        @media screen and (max-width:766px) {
            width: auto;
        }
        p {
            font-size: 14px;
            padding: 8px;
        }
    }
    &__all {
        display: -webkit-flex; /* Safari */
        display: flex;
        margin-bottom: 42px;
        @media screen and (max-width:766px) {
            display: block;
        }
        &.rightx {
            .imagesx{
                order: 2;
                @media screen and (max-width:766px) {
                    order: 1;
                }
                .arrownya {
                    right: initial;
                    left: -32%;
                    bottom: -5%;
                    @media screen and (max-width:766px) {
                        right: initial;
                            left: 0%;
                            bottom: -10%;
                            height: 80px;
                    }
                    img {
                        transform: rotateY(180deg);
                        @media screen and (max-width:766px) {
                            transform: rotateY(-180deg);
                            position: absolute;
                            // right: 0;
                            width: 80px;
                            bottom: -5%;
                        }
                    }
                }
            }    
            .photo-card{
                transform: rotate(3deg);
                &:hover {
                    // transform: rotate(0);
                }
            }
        }
        .imagesx {
            width: 50%;
            position: relative;
            
            .arrownya {
                @media screen and (max-width:766px) {
                    // display: none;
                    transform: rotate(180deg);
                    position: absolute;
                    right: 0;
                    width: 80px;
                    bottom: -5%;
                }
                position: absolute;
                right: -30%;
                width: 200px;
                bottom: 5%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                }
            }
            @media screen and (max-width:766px) {
                // width: 100%;
                width: 85%;
            }
            h3 {
                font-size: 18px;
                margin: 16px 0;
                text-align: center;
                font-weight: 700;
                color: #0a6c00;
            }
        }
        .isix {
            width: 50%;
            @media screen and (max-width:766px) {
                width: 100%;
            }
        }
    }
}

.back-white {
    background: rgba($color: white, $alpha: .8);
    padding: 16px;
    border-radius: 16px;
}

.click-bola {
    background: white;
    position: absolute;
    // top: 100%;
    top: 0%;
    left: 40%;
    text-align: center;
    width: fit-content;
    // margin: 0 auto;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 3px 4px #bbb;
    @media screen and (max-width:766px) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    &:hover {
        background: #ccc;
    }
}

.wrap-detik {
    width: 700px;
    margin: 0 auto;
    display: block;
    position: relative;
    p {
        font-family: 'Montserrat';
        position: relative;
        z-index: 54;
    }
  
    @media screen and (max-width: 766px) {
      width: auto;
      margin: 0 8px;
    }
  }

.bg-rumput {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;
    .image {
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content{
    .photo-card {
        // overflow: hidden;
    }
}

.photo-card{
    background: white;
    padding: 16px;
    width: 100%;
    transform: rotate(-3deg);
    margin: 16px 0;
    // overflow: hidden;
    &:hover {
        // transform: rotate(0);
    }
    .zooming {
        overflow: hidden;
    }
        img {
            width: 100%;
            height: 100%;
            transition: .3s;
            object-fit: contain;
            &:hover {
                transform: scale(1.35);
            }
        }
}

.credit {
    min-height: auto;
}

.add-bg {
    // background: rgba($color: white, $alpha: .7);
    padding: 16px;
    color: white;
    position: relative;
    text-shadow: 2px 2px black;
    .swish {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .9;
        top: -25%;
        width: 100%;
        height: 150%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.bolax {
    position: relative;
}

.color{
    &-orange{
        color: #f97432 !important;
    }
    &-red {
        color: #d40000 !important;
    }
    &-ungu {
        color: rgb(175, 8, 175) !important;
    }
    &-blue {
        color: #0076d5 !important;
    }
}

.yangkedua{
    animation: MoveUpDownsx .3s linear infinite;
    // margin-top: 0;
    &:hover {
        animation: initial;
    }
}
@keyframes MoveUpDownsx {
    0%, 100% {
      top: 0;
    }
    50% {
        top: 5px;
    }
  }

  .shadowx{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @media screen and (max-width:766px) {
        bottom: -70px;
    }
    
  }

  .credit {
    // border-top: 5px solid #008f6b !important;
    display: none;
    text-align: center;
    margin: 0 auto;
    z-index: 99;
    padding: 32px 0;
    background: linear-gradient(to top,#127a2e,#63aa73);
    // display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    background: radial-gradient(circle,#63aa73,#127a2e);
  
    .wrapings {
      display: block;
      width: 50%;
      margin: 0 auto 4px;
      // position: relative;
  
      @media screen and (max-width:766px) {
        width: 100%;
      }
    }
  
    // #c6c4c4
    .name,
    .jobdesc {
      color: #2f2b2b;
      display: inline-block;
      vertical-align: top;
  
      @media screen and (max-width: 766px) {
        font-size: 14px;
      }
    }
  
    .name {
      text-align: left;
      width: 45%;
      font-size: 18px;
      font-weight: bold;
      vertical-align: middle;
  
      @media screen and (max-width:766px) {
        font-size: 16px;
      }
    }
  
    .jobdesc {
      text-align: right;
      width: 45%;
      font-size: 15px;
      margin-right: 16px;
      vertical-align: middle;
  
      @media screen and (max-width:766px) {
        font-size: 14px;
      }
    }
  }
  
  .scroll-totop {
    position: fixed;
    right: 32px;
    bottom: 52px;
    width: 42px;
    height: 42px;
    padding: 8px;
    border-radius: 50%;
    background: white;
    transition: .3s;
    cursor: pointer;
    @media screen and (max-width:766px) {
        right: 0;
    }
    &:hover {
        background: #82f076;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  .box { position: relative; z-index: 99;float: right;animation:roll 3.5s linear infinite; max-width: 120px;height: 120px; transform: rotateX(90deg);
    .image {
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }       
    }
 
    }
  @keyframes roll { 
    0% {-webkit-transform: rotate(80deg);}
    50% { -webkit-transform: rotate(360deg);}
    75% { -webkit-transform: rotate(120deg);}
    100% {-webkit-transform: rotate(80deg);}
  }