@font-face {
    font-family: "chunkfive";
    src: url('chunkfive.woff2');
    src: local('chunkfive.woff2');
    src: url('chunkfive.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noticia+Text&family=PT+Serif&family=Roboto&family=Yeseva+One&display=swap');

section {
    min-height: 100vh;
    position: relative;
    z-index: 10;
}
.banner {
    min-height: 75vh !important;
}
main {
    p,li,div{
        font-family: 'Montserrat';
    }
}

.font-heading {
    font-family: 'chunkfive';
}

.paragraph {
    .wrap-detik {
        position: relative;
        // height: 80vh;
        padding: 16px;
        z-index: 5;
        // background: rgba($color: #fff, $alpha: .7);
        // backdrop-filter: blur(8px);
        .image {
            width: 100%;
            height: 100%;
            img {
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.topx {
    position: relative;
    z-index: 30;
    .click-bola {
        // margin: initial;
    }
}

.helpingx{
    position: absolute;
    left: 0;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    img {
        width: 150%;
        margin: 0 auto;
        height: 100%;
        object-fit: contain;
    }
}

.fans {
    .image {
        position: relative;
        z-index: 3;
        width: 100vw;
        height: 520px;
        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }

    }
}

.content {
    display: none;
    .wrap-detik {
        width: 960px;
        @media screen and (max-width:766px) {
            width: auto;
        }
        p {
            font-size: 14px;
            padding: 8px;
        }
    }
    &__all {
        display: -webkit-flex; /* Safari */
        display: flex;
        margin-bottom: 42px;
        @media screen and (max-width:766px) {
            display: block;
        }
        &.rightx {
            .imagesx{
                order: 2;
                @media screen and (max-width:766px) {
                    order: 1;
                }
                .arrownya {
                    right: initial;
                    left: -32%;
                    bottom: -5%;
                    img {
                        transform: rotateY(180deg);
                    }
                }
            }    
            .photo-card{
                transform: rotate(3deg);
                &:hover {
                    // transform: rotate(0);
                }
            }
        }
        .imagesx {
            width: 50%;
            position: relative;
            
            .arrownya {
                @media screen and (max-width:766px) {
                    display: none;
                }
                position: absolute;
                right: -30%;
                width: 200px;
                bottom: 5%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            @media screen and (max-width:766px) {
                width: 100%;
            }
            h3 {
                font-size: 18px;
                margin: 16px 0;
                text-align: center;
                font-weight: 700;
                color: #0a6c00;
            }
        }
        .isix {
            width: 50%;
            @media screen and (max-width:766px) {
                width: 100%;
            }
        }
    }
}

.back-white {
    background: rgba($color: white, $alpha: .8);
    padding: 16px;
    border-radius: 16px;
}

.click-bola {
    background: white;
    position: absolute;
    // top: 100%;
    top: 0%;
    left: 40%;
    text-align: center;
    width: fit-content;
    // margin: 0 auto;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 3px 4px #bbb;
    @media screen and (max-width:766px) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    &:hover {
        background: #ccc;
    }
}

.wrap-detik {
    width: 700px;
    margin: 0 auto;
    display: block;
    position: relative;
    p {
        font-family: 'Montserrat';
        position: relative;
        z-index: 54;
    }
  
    @media screen and (max-width: 766px) {
      width: auto;
      margin: 0 8px;
    }
  }

.bg-rumput {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;
    .image {
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.photo-card{
    background: white;
    padding: 16px;
    width: 100%;
    transform: rotate(-3deg);
    margin: 16px 0;
    overflow: hidden;
    &:hover {
        // transform: rotate(0);
    }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            &:hover{

            }
        }
}

.add-bg {
    // background: rgba($color: white, $alpha: .7);
    padding: 16px;
    color: white;
    position: relative;
    text-shadow: 2px 2px black;
    .swish {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .9;
        top: -25%;
        width: 100%;
        height: 150%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.bolax {
    position: relative;
}

.color{
    &-orange{
        color: #f97432 !important;
    }
    &-red {
        color: #d40000 !important;
    }
    &-ungu {
        color: rgb(175, 8, 175) !important;
    }
    &-blue {
        color: #0076d5 !important;
    }
}

.yangkedua{
    animation: MoveUpDownsx .3s linear infinite;
    // margin-top: 0;
    &:hover {
        animation: initial;
    }
}
@keyframes MoveUpDownsx {
    0%, 100% {
      top: 0;
    }
    50% {
        top: 5px;
    }
  }

  .shadowx{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    
  }

  .scroll-totop {
    position: fixed;
    z-index: 60;
    right: 0;
    bottom: 42px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    padding: 8px;
    background: white;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }