@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noticia+Text&family=PT+Serif&family=Roboto&family=Yeseva+One&display=swap');

body {
    margin: 0;
}

@font-face {
    font-family: "chunkfive";
    src: url('chunkfive.woff2');
    src: local('chunkfive.woff2');
    src: url('chunkfive.woff2') format('woff2');
}

main {
    background: #1d1b21;
    color: #9C9C9C;
    h1 {
        // font-family: 'Montserrat';
        // font-weight: 700;
    }
}
p {
    font-size: 16px;
}

.font{
    &-chunk {
        font-family: 'chunkfive';
    }
    &-big {
        font-size: 42px;
    }
}
.font-big{
    @media screen and(max-width:766px) {
        font-size: 24px !important;
    }
}

.one {
    .wrap-detik{
        padding: 24px;
        background: rgba($color: #1d1b21, $alpha: .8);
        @media screen and (max-width:766px) {
            padding: 16px 4px;
            // background: transparent;
        }
        p {
            // color: white;
            @media screen and(max-width:766px) {
                font-size: 14px;
            }
        }
    }
}
.banner{
    position: relative;
    z-index: 55;
    background: #1d1b21;
    &__title {
        background: red;
        width: fit-content;
        height: auto;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 8px 16px;
        position: relative;
        &::before{
            // position: absolute;
            // content: '';
            // left: 8px;
            // right: -8px;
            // top: 8px;
            // bottom: -8px;
            // z-index: 1;
            // background-color: red;
        }
        h1 {
            color: black;
            position: relative;
            font-size: 60px;
        }
        .totop {
            // position: absolute;
            // left: 0;
            // right: 0;
            // top: 0;
            // bottom: 0;
            // z-index: 9;
            background: red;
        }
    }
}

.wrap-detik {
    width: 700px;
    margin: 0 auto;
    display: block;
    position: relative;
    p {
        font-family: 'Montserrat';
    }
  
    @media screen and (max-width: 766px) {
      width: auto;
      margin: 0 8px;
    }
  }
  

section,main {
    overflow-x: hidden;
}

.totop{
    position: relative;
    z-index: 33;
}
.banner {
    position: relative;
    z-index: 55;
}
.section {
    position: relative;
    &__help {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: .3;
        .image {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width:766px) {
            // display: none;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width:766px) {
                // display: none;
                object-fit: cover;
            }
        }
    }
    .card {
        background: transparent !important;
        border-color: transparent;
        .image {
            width: 200px;
            height: 200px;
            background: #0c0909;
            margin: 0 auto;
            display: block;
            padding: 32px;
            border-radius: 24px;
            @media screen and (max-width:766px) {
                width: 100%;
                height: 120px
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .name {
            font-size: 16px;
            text-align: center;
            @media screen and (max-width:766px) {
                font-size: 12px;
            }
            margin: 16px 0;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }
}

.color-white {
    color: white;
}


.color{
    &-red {
        color: red;
    }
}

.daftar {
    .image {
        width: 150px;
        height: auto;
        &.rotateY {
            transform: rotateY(180deg);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .all-paket{
        display: block;
        width: 100%;
        margin: 0 auto;
        display: block;
        height: auto;
        text-align: center;
        .paket {
            // display: inline-block;
            // width: 45%;
            text-align: left;
            position: relative;
            .icon-tragedi {
                position: absolute;
                bottom: 0;
            }
        }
    }

    
}
.modal-backdrop.show {
    opacity: .9 !important;
}
.modal-content {
    background: transparent !important;
    .btn-secondary{
        width: fit-content !important;
        margin: 0 auto;
        font-family: 'Montserrat' !important;
        font-size: 12px !important;
        background: black !important;
        border: 1px solid transparent !important;
    }
}
.modal-body {
    
    .image {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.daftar2,.daftar3 {
    .section__help {
        .image {
            @media screen and (max-width:766px) {
                height: 100%;
                width: 100%;
            }
        }
    }
    .wrap-detik {
        background: rgba($color: #000000, $alpha: .8);
        padding: 24px 16px;
    }
}


  
  .rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
  }
  
  div.back-row-toggle .rain.back-row {
    display: block;
  }
  
  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }
  
  .stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  